# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore IDE/editor files
.idea/
.vscode/
.DS_Store

# Output schemas
schemas.ts
openrpc.json

# Env
.env
package-lock.json